.footer{
    background-color:#353535 ;
    color: white;
  padding: 1em 0em 1em 0em;
  @media screen and (min-width: $breakpoint) {
    display: flex;
    flex-direction: row-reverse;
  padding-right: 7em;
  align-items: center;
  }
  
&_title{
    font-family: 'Shrikhand', cursive;
    padding-left: 2.25em;
    font-size: 18px;
    
}
&_logo{
    
    display: flex;
    align-items: baseline;
    gap: 0.5em;
}
}

footer a{
    color: white;
  }

.footer ul{
  @media screen and (min-width: $breakpoint) {
    display: flex; 
}
}

.footer li{
  
  @media screen and (min-width:$breakpoint){
    margin-bottom: 0.5em;
    padding-left: 1em;
  }
}

.footer h3{
  font-weight: 400;
  font-size: 16px;
}