.banner {
  display: flex;
  align-items: center;

  &_arrow {
    padding-left: 1em;
    font-size: 1.5em;
  }

  &_title {
    flex-basis: 90%;
    text-align: center;
  }
}

.menu_pix {
  box-sizing: border-box;

  img {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }
}

.container {
  background-color: $quad-color;
  margin-top: -3em;
  border-radius: 25px 25px 0 0;
  position: relative;

  @media screen and (min-width: $breakpoint) {
    margin: -3em 12em 0em 12em;
  }

  &_banner {
    @include font-shri;
    display: flex;
    align-items: center;
    padding: 0.75em 0 0 1em;

    @media screen and (min-width: $breakpoint) {
      justify-content: center;
      padding-left: 0em;
    }
  }

  &_title {
    i {
      right: 1em;

      @media screen and (min-width: $breakpoint) {
        right: auto;
        padding-left: 1em;
      }
    }
  }
}


.menu {
  margin-left: 1em;
  margin-right: 1em;
  opacity: 0;
  animation: menuFadeIn 4s forwards;
  @media screen and (min-width: $breakpoint) {
    margin-left: 20%;
  margin-right: 20%;
  }



  &__part {
    box-sizing: border-box;
  }
}


.category {
  &__name {
    margin-left: 0.75em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 300;
    font-size: 16px;

    &--line {
      width: 3em;
      border: 1.5px solid $tertiary-color;
      margin-left: 0.75em;
      margin-bottom: 1em;
    }
  }
}

.choice {
  display: flex;
  flex-direction: column;
  gap: 0.75em;

  &__card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    height: 4.3em;
    overflow: hidden;

    &__txt {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: auto;
      flex: 1;
      padding-left: 20px;
      @include ellipse;

      &--title {
        @include ellipse;
        font-weight: 500;
        font-size: 18px;
        padding-top: 0.8em;
      }

      &--description {
        @include ellipse;
        font-weight: 300;
        font-size: 15px;
        padding-bottom: 12px;
      }
    }

    &__price {
      width: 4.3em;
      height: 100%;
      display: flex;
      padding-top: 2.3em;
      justify-content: center;

      span {
        font-weight: 700;
        font-size: 15px;
      }
    }

    &__check {
      width: 4.3em;
      height: 100%;
      margin-right: -4.3em;
      background-color: $tertiary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 0.3s;
      cursor: pointer;
    }

    &:hover>.choice__card__check {
      margin: 0;
      transition: all 0.8s;
    }
  }
}

.fa-circle-check {
  color: white;
}

.command {
  display: flex;
  justify-content: center;
  padding-top: 1em;

  &__button {
    @include button-pink;
    width: 20em;
  }
}

.choice__card__txt p,
.choice__card__txt h3 {
  margin: 0;
}