body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Shrikhand', cursive;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}


