.restaurants {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    background-color: $quad-color;
    padding: 2em 0em 3em 0em;
    @media screen and (min-width: $breakpoint) {
       padding-left: 5em;
       padding-right: 5em;
    }

    &__title {
        padding-left: 2em;
    }

    &__card {
        border-radius: 2em;
        box-shadow: 4px 4px 6px #aaa;
        margin: 1em;
        position: relative;
        background: #ffffff;
        height: 16em;
        &:hover {transform: scale(1.02);
            transition: transform 0.2s ease-in-out;
        }
    }

    &_image {
        object-fit: cover;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        width: 100%;
        height: 100%;
        max-height: 11em;
    }

    &_name {
        padding-left: 1.25em;
        display: flex;
        h3 {
            display: flex; 
            align-items:center; 
        }
        i {
      right: 1em;
        }
        
    }
}

.restaurant_name h3{
    font-size: 18px;
    font-weight: 700;
}

.subtile_card p{
    font-size: 17px ;
    font-weight: 300;
}


.new {
    color: #008766;
    background-color: $tertiary-color;
    border: 5px solid $tertiary-color;
    border-radius: 5px;
    position: absolute;
    right: 5%;
    top: 5%;
}

.subtile_card {
    padding-left: 1.25em;
}

.restaurant_descript {
    line-height: 0;
}

.restaurants_container {
    box-sizing: border-box;

    @media screen and (min-width: $breakpoint) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
