.restaurants {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    background-color: $quad-color;
    padding: 2em 0em 3em 0em;

    &__title {
        padding-left: 2em;
    }

    &__card {
        border-radius: 2em;
        box-shadow: 4px 4px 6px #aaa;
        margin: 1em;
        position: relative;
        background: #ffffff;
        height: 16em;
    }

    &_image {
        object-fit: cover;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        width: 100%;
        height: 100%;
        max-height: 11em;
    }

    &_name {
        padding-left: 1.25em;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-right: 1.25rem;

        .fa-heart{
            font-size: 1.5em;
        }
    }

}

.new {
    color: #008766;
    background-color: $tertiary-color;
    border: 5px solid $tertiary-color;
    border-radius: 5px;
    position: absolute;
    right: 1%;
    top: 5%;
}

.subtile_card {
    padding-left: 1.25em;
}

.restaurant_descript {
    line-height: 0;
}

.restaurants_container {
    box-sizing: border-box;

    @media screen and (min-width: $breakpoint) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
