.restaurants {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    background-color: $quad-color;

    &__title {
        padding-left: 2em;
    }

    &__card {
        border-radius: 2em;
        box-shadow: 4px 4px 6px #aaa;
        margin: 1em;
        position: relative;
        background: #ffffff;
        height: 18em;
    }

    &_image {
        object-fit: cover;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        width: 100%;
        height: 100%;
        max-height: 11em;
    }

    &_name {
    padding-left: 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 1.25rem;
    }

}

.new{
    color: #008766;
    background-color: $tertiary-color;
    border: 5px solid $tertiary-color;
    border-radius: 5px;
    position: absolute;
    right: 1%;
    top: 5%;
}
.subtile_card{
    padding-left: 1.25em;
}




