.button{
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    color: white;
    border: none;
    border-radius: 25px 25px 25px 25px;
    padding: 1em;
    margin-top: 1.5em;
    margin-bottom: 3em;
  }

  .button_card{
    box-sizing: border-box;
  }
