.banner {
  display: flex;
  align-items: center;

  &_arrow {
    padding-left: 2em;
  }

  &_title {
    flex-basis: 90%;
    text-align: center;
  }
}

.menu {
  display: block;


  &_pix {
    box-sizing: border-box;
  }
}

.menu_pix img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.container {
  background-color: $quad-color;
  margin-top: -3em;
  border-radius: 25px 25px 0 0;
  position: relative;

  &_banner {
    @include font-shri;
    display: flex;
    align-items: center;
    padding: 0.75em 0 0 1em;
    
  }
}

.menu_list {
  block-size: border-box;
  padding-top: 0.75em;

  h3 {
    padding-left: 0.75em;
    font-weight: 300;
  }

  &__line {
    width: 3em;
    border: 1.5px solid $tertiary-color;
    margin-left: 0.75em;
    margin-bottom: 0.5em;
  }
}

.menu_list_container {
  background-color: white;
  border-radius: 25px;
  padding-top: 0.1em;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 0.5em;

 

  h4 {
    padding-left: 1em;
    margin-bottom: 0;
  }

  &_description {
    display: flex;
    margin-bottom: 0;
    padding-left: 1em;
    justify-content: space-between;
    padding-right: 1em;
    width: 90%;
  }

  &__price {
display: flex;

    p {
      font-weight: bold;
      
    }
  }
}

.command{
  display: flex;
  justify-content: center;


&__button{
  @include button-pink;
  width: 20em;
}
}
