.footer{
    background-color:#353535 ;
    color: white;
  padding: 1em 0em 1em 0em;
 


&_title{
    font-family: 'Shrikhand', cursive;
    padding-left: 2.25em;
}
&_logo{
    
    display: flex;
    align-items: baseline;
    gap: 0.5em;
}
}


footer a{
    color: white;
  }