.footer{
    background-color:#353535 ;
    color: white;
  padding: 1em 0em 1em 3em;



&_title{
    font-family: 'Shrikhand', cursive;
   
}
&_logo{
    
    display: flex;
    align-items: baseline;
    gap: 1em;
}
}
li{
    list-style: none;
    font-size: 1,17em;
    line-height: 0.5;
}