/* Variables colors */
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Shrikhand", cursive;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

.location {
  display: flex;
  align-items: baseline;
  background-color: #EAEAEA;
  color: #353535;
  justify-content: center;
}
.location .fa-solid {
  padding-right: 1em;
}

.introduction {
  text-align: center;
  background-color: #f6F6F6;
}
.introduction__title {
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin-top: -1.3em;
}
.introduction__down-title {
  color: #353535;
  font-weight: lighter;
}
.introduction .button {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
  color: white;
  height: 50px;
  border: none;
  border-radius: 25px;
  padding: 1em;
  margin-top: 1.5em;
  margin-bottom: 3em;
  width: 23em;
}
.introduction .button:hover {
  cursor: pointer;
}

.functioning {
  display: flex;
  flex-direction: column;
}

.fonction {
  align-items: baseline;
  padding-top: 1.5em;
}
.fonction .ordernumber {
  background: #9356dc;
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  left: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.fonction__cards {
  background-color: #f6f6f6;
  border-radius: 2em;
  margin-left: 1.5em;
  padding: 1em;
  display: flex;
  align-items: baseline;
  gap: 1em;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonction__cards .fa-solid {
  color: #7E7E7E;
  padding-left: 2em;
}
.fonction__cards .fa-store {
  color: #9356DC;
  padding-left: 2em;
}

.restaurants {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  background-color: #f6f6f6;
  padding: 2em 0em 3em 0em;
}
.restaurants__title {
  padding-left: 2em;
}
.restaurants__card {
  border-radius: 2em;
  box-shadow: 4px 4px 6px #aaa;
  margin: 1em;
  position: relative;
  background: #ffffff;
  height: 16em;
}
.restaurants_image {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  width: 100%;
  height: 100%;
  max-height: 11em;
}
.restaurants_name {
  padding-left: 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 1.25rem;
}

.new {
  color: #008766;
  background-color: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right: 1%;
  top: 5%;
}

.subtile_card {
  padding-left: 1.25em;
}

.restaurant_descript {
  line-height: 0;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 1em 0em 1em 0em;
}
.footer_title {
  font-family: "Shrikhand", cursive;
}
.footer_logo {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

li {
  list-style: none;
  line-height: 0.5;
}

footer a {
  color: white;
}

.banner {
  display: flex;
  align-items: center;
}
.banner_arrow {
  padding-left: 2em;
}
.banner_title {
  flex-basis: 90%;
  text-align: center;
}

.menu {
  display: block;
}
.menu_pix {
  box-sizing: border-box;
}

.menu_pix img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}

.container {
  background-color: #f6f6f6;
  margin-top: -3em;
  border-radius: 25px 25px 0 0;
  position: relative;
}
.container_banner {
  font-family: shrikhand;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0.75em 0 0 0;
}
.container .fa-regular {
  padding-right: 1em;
  margin-left: auto;
}
.container .container_title {
  margin-right: auto;
  padding-left: 1em;
}

.menu_list {
  block-size: border-box;
  padding-top: 0.75em;
}
.menu_list h3 {
  padding-left: 0.75em;
  font-weight: 300;
}
.menu_list__line {
  width: 3em;
  border: 1.5px solid #99E2D0;
  margin-left: 0.75em;
  margin-bottom: 0.5em;
}

.menu_list_container {
  background-color: white;
  border-radius: 25px;
  padding-top: 0.1em;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 0.5em;
}
.menu_list_container h4 {
  padding-left: 1em;
  margin-bottom: 0;
}
.menu_list_container_description {
  display: flex;
  margin-bottom: 0;
  padding-left: 1em;
  justify-content: space-between;
  padding-right: 1em;
  width: 90%;
}
.menu_list_container__price {
  display: flex;
}
.menu_list_container__price p {
  font-weight: bold;
}

.command {
  display: flex;
  justify-content: center;
}
.command__button {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
  color: white;
  height: 50px;
  border: none;
  border-radius: 25px;
  padding: 1em;
  margin-top: 1.5em;
  margin-bottom: 3em;
  width: 20em;
}
.command__button:hover {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */