@import "../components/media";
@import "../utils/variables";
@import "../utils/mixin";
@import "../bases/structuration";
@import "../components/header";
@import "../components/cards_restaurant";
@import "../utils/footer";
@import "../components/pages";
