.fa-regular.fa-heart:hover {
background: linear-gradient(to top, $primary-color, $secondary-color);
}

.restaurants__card:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}
